@import "~node_modules/bootstrap/scss/functions",
"~node_modules/bootstrap/scss/variables",
"~node_modules/bootstrap/scss/mixins",
"~node_modules/bootstrap/scss/print",
"~node_modules/bootstrap/scss/reboot",
"~node_modules/bootstrap/scss/type";
@import "./mixins";
@import "./variables";
@import "./funscions";

/* general */
$body-bg: $white;
$link-color: green-color("100");
$text-color: gray('333');
