<div class="article-list">

  <div class="flex-container article-item vertical-center" routerLink="article/1">
    <div class="for-img">
      <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/09/12/11/naturo-monkey-selfie.jpg?w968h681" class="img-item">
    </div>
    <div class="f-2">
      <p class="h4">Заголовок статьи</p>
      <fb-like href="{{url}}"></fb-like>
    </div>
  </div>

  <div class="flex-container article-item vertical-center" routerLink="article/1">
    <div class="for-img">
      <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/09/12/11/naturo-monkey-selfie.jpg?w968h681" class="img-item">
    </div>
    <div class="f-2">
      <p class="h4">Заголовок статьи</p>
      <fb-like href="{{url}}"></fb-like>
    </div>
  </div>


</div>


