@import "~src/assets/scss/main";

.header-wrapper {
  background: $bg-header-color;
}

.navbar {
  @include justify-content(flex-start);
  .navbar-brand {
    margin-right: 20px;
  }
}

.content-wrapper {
  margin-top: 20px;
}
