

<div class="blog-wrapper container">
  <nav class="header-wrapper navbar navbar-light bg-light">

    <a class="navbar-brand" routerLink="" routerLinkActive="active">
      <img src="../../assets/img/your-blog-logo-280x224.png" width="100"  class="d-inline-block align-top" alt="">
      Главная
    </a>
    <a class="navbar-brand" routerLink="/admin" routerLinkActive="active">Панель администратора</a>
    <p style="margin-left: 30px; margin-top: 20px;">
      <span *ngIf="username">Привет, {{username}}</span>
      <button (click)='login()'>Log in</button>
      <button (click)='logout()'>Log out</button>
    </p>
  </nav>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>

